<!DOCTYPE html>
<html lang = "es">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesAdminEditProducts", title:"Formulario de creación"}) %>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <h3 class = "title">Editar Producto</h3>
        <form class="form" action = "/products/edit/<%= product.id %>" method = "POST" class = "products-form" enctype="multipart/form-data" >
        
            <!--Cuerpo-->
            <div class = "name-description">
                <label for = "name" class = "form-label">Nombre</label>
                    <input type = "text" name = "name" id = "name" class = "form-input" value="<%= product.name %>">
                <label for = "description">Descripción</label>
                    <textarea name="description" id="description" class="form-input"><%= product.description %></textarea>
            </div>

           <!--  <div class="image">
                <label for="image" class="form-label">Fotos</label>
                <div class="thumbnail-container">
                    <input type="file" name="photo" accept=".jpg, .png, .svg" id="image" class="form-input">
                </div>   
            </div>  -->     
            
            <div class="image">
                <label for="image" class="form-label">Fotos</label>
                <div class="thumbnail-container">
                    <% if (product.photo && product.photo.length > 0) { %>
                        <!-- Muestra la imagen existente -->
                        <img src="/img/<%= product.photo[0] %>">
                        <!-- Agrega un campo oculto con el nombre de la imagen existente -->
                        <input type="hidden" name="existingPhoto" value="<%= product.photo[0] %>">
                    <% } %>
                    <!-- Agrega el campo de entrada de archivo solo si se desea actualizar la imagen -->
                    <input type="file" name="photo" accept=".jpg, .png, .svg" id="image" class="form-input">
                </div>   
            </div>
            



            <div class = "price-stock">
            <label for = "price" class = "form-label">Precio</label>
                <input type = "number" step = 0.01 min = 0 name = "price" id = "price" class = "form-input" value="<%= product.price %>">
            <label for = "stock" class = "form-label">Stock</label>
                <input type = "number" min = 0 name = "stock" id = "stock" class = "form-input" value="<%= product.stock %>">
            </div>

            <div class="category">
                <label for="category" class="form-label">Categoría</label>
                <select name="category" id="category" class="form-input">
                    <option value="default-cat" <% if (product.category === 'default-cat') { %> selected <% } %>>Categoría</option>
                    <option value="accesories" <% if (product.category === 'accesories') { %> selected <% } %>>Accesorios</option>
                    <option value="food" <% if (product.category === 'food') { %> selected <% } %>>Alimento</option>
                </select>
            </div>

            <div class = "size-checkboxes">
                <label for = "insale"><input type = "checkbox" id = "insale" name = "insale" value = "1">En Oferta</label>
            </div>


            <div class = "specs">
                <label for="color" class="form-label">Color</label>
                    <select name="color" id="color" class="form-input">
                        <option value="default-color" <% if (product.color === 'default-color') { %> selected <% } %>>Color</option>
                        <option value="yellow" <% if (product.color === 'yellow') { %> selected <% } %>>Amarillo</option>
                        <option value="blue" <% if (product.color === 'blue') { %> selected <% } %>>Azul</option>
                        <option value="black" <% if (product.color === 'black') { %> selected <% } %>>Negro</option>
                        <option value="red" <% if (product.color === 'red') { %> selected <% } %>>Rojo</option>
                        <option value="green" <% if (product.color === 'green') { %> selected <% } %>>Verde</option>
                    </select>

                <label for = "product-size" class = "form-label" value = "<%= product.color %>">Tamaño</label>
                    <div class = "size-checkboxes">
                        <label for = "sizeS"><input type = "checkbox" id = "sizeS" name = "sizes" value = "S">S</label>
                        <label for = "sizeM"><input type = "checkbox" id = "sizeM" name = "sizes" value = "M">M</label>
                        <label for = "sizeL"><input type = "checkbox" id = "sizeL" name = "sizes" value = "L">L</label>
                    
                    </div>
            </div>
            <div class = "button-container">
                <!--Boton borrar producto-->
                <button type = "submit" id = "deleteButton" class = "deleteButton">Eliminar</button>
                <!--Boton borrar contenido y volver para atras-->
                <a href = "/products/products" class = "cancelButton">Cancelar</a>
                <!--Boton editar aplicar cambios-->
                <button type="submit" id = "editProductButton" class = "editProductButton">Aplicar Cambios</button>
            </div>
        </form>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>	
</html>