<!DOCTYPE html>
<html lang = "es">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesAdminEditProducts", title:"Formulario de creación"}) %>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <h3 class = "title">Editar Producto</h3>
        <form class="form" action = "/products/edit/<%= product.id %>?_method=PUT" method = "POST" class = "products-form" enctype="multipart/form-data" >
        
            <!--Cuerpo-->
            <!--Campo name-->
            <div class = "name-description">
                <label for= "name" class= "form-label">Nombre</label>
                    <input 
                    type ="text" 
                    name = "name" 
                    id = "name" 
                    class = "form-input <%= locals.errors && errors.name ? 'is-invalid' : null %>" 
                    value="<%= locals.oldData ? oldData.name : product.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <div class="tex-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %> 
                
                  <!--Campo description-->   
                <label for = "description">Descripción</label>
                <textarea name="description" id="description" class="form-input <%= locals.errors && errors.description ? 'is-invalid' : null %>"><%= locals.oldData ? oldData.description : product.description %></textarea>
                <% if (locals.errors && errors.description) { %>
                    <div class="tex-danger">
                        <%= errors.description.msg %>
                    </div>
                <% } %>      
            </div>
            
            <!-- campo photo -->
            <div class="image">
                <label for="image" class="form-label">Fotos</label>
                <input class="form-input" type="file" name="photo" value="<%= locals.oldData ? oldData.photo : "" %>">
                <% if (locals.errors && errors.photo) { %>
                    <div class="tex-danger">
                        <%= errors.photo.msg %>
                    </div>
               <% } %>
            </div>
            
           <!--  campo price -->
            <div class = "price-stock">
            <label for= "price" class= "form-label">Precio</label>
                <input type= "number" step= 0.01 min= 0 name= "price" id= "price" 
                class= "form-input <%= locals.errors && errors.price ? 'is-invalid' : null %>" 
                value="<%= locals.oldData ? oldData.price : product.price %>">
                <% if (locals.errors && errors.price) { %>
                    <div class="tex-danger">
                        <%= errors.price.msg %>
                    </div>
                <% } %> 

           
           <!--  campo stock   -->      
            <label for= "stock" class= "form-label">Stock</label>
                <input type= "number" min= 0 name= "stock" id= "stock" 
                class= "form-input <%= locals.errors && errors.stock ? 'is-invalid' : null %>" 
                value="<%= locals.oldData ? oldData.stock : product.stock %>">
                <% if (locals.errors && errors.stock) { %>
                    <div class="tex-danger">
                        <%= errors.stock.msg %>
                    </div>
                <% } %> 
            </div>
          

            <div class="category">
                <label for="category" class="form-label">Categoría</label>
                <select 
                    name="category" id="category" 
                    class="form-select <%= locals.errors && errors.category ? 'is-invalid' : null %>">
                    <option value="">Elige una categoría</option>
                    <% 
                        let categories = ['Sin categoría', 'Accesorios', 'Alimentos']
                    %>
                    <% for (const category of categories){ %>
                        <option value="<%= category %>"
                        <%= locals.oldData && (category === oldData.category) ? 'selected' : null %>>
                        <%= category %> </option>
                    <% }  %> 
                </select>
                <% if(locals.errors && errors.category){ %>
                <div>
                    <%= errors.category.msg %>
                </div>
                 <% }  %>
            </div>     
                
            <div class = "size-checkboxes">
                <label for = "insale"><input type = "checkbox" id = "insale" name = "insale" value = "1">En Oferta</label>
            </div>


            <div class = "specs">
                <label for="color" class="form-label">Color</label>
                    <select name="color" id="color" class="form-input">
                        <option value="default-color" <% if (product.color === 'default-color') { %> selected <% } %>>Color</option>
                        <option value="yellow" <% if (product.color === 'yellow') { %> selected <% } %>>Amarillo</option>
                        <option value="blue" <% if (product.color === 'blue') { %> selected <% } %>>Azul</option>
                        <option value="black" <% if (product.color === 'black') { %> selected <% } %>>Negro</option>
                        <option value="red" <% if (product.color === 'red') { %> selected <% } %>>Rojo</option>
                        <option value="green" <% if (product.color === 'green') { %> selected <% } %>>Verde</option>
                    </select>

                <label for = "product-size" class = "form-label" value = "<%= product.color %>">Tamaño</label>
                    <div class = "size-checkboxes">
                        <label for = "sizeS"><input type = "checkbox" id = "sizeS" name = "sizes" value = "S">S</label>
                        <label for = "sizeM"><input type = "checkbox" id = "sizeM" name = "sizes" value = "M">M</label>
                        <label for = "sizeL"><input type = "checkbox" id = "sizeL" name = "sizes" value = "L">L</label>
                    
                    </div>
            </div>
            <div class = "button-container">
                <!--Boton borrar producto-->
                <button type = "submit" id = "deleteButton" class = "deleteButton">Eliminar</button>
                <!--Boton borrar contenido y volver para atras-->
                <a href = "/products/products" class = "cancelButton">Cancelar</a>
                <!--Boton editar aplicar cambios-->
                <button type="submit" id = "editProductButton" class = "editProductButton">Aplicar Cambios</button>
            </div>
        </form>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>	
</html>