<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"styleProducts", title:"Alimentos"}) %>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <!-- todos los productos -->
	<div class="encabezado-catalogo">
		<img src="/img/imgCatalogo2.jpg" alt="imagen-catalogo" class="img-catalogo">
		<div class="text-overlay">ALIMENTOS </div>
		<!-- <h2 class="products-title"></h2> -->
	</div>

    <div class="container-products">
		<div class="row">
			
			<% alimentos.forEach(product =>{ %>
				<div class= "box">
					<a href="/products/detail/<%= product.id %>">
						<div class="product-box_image">
							<img src="/img/<%= product.photo %>" alt="imagen de producto">
						</div>
					</a>	
						<article class="product-box_data">
							<a href="/products/detail/<%= product.id %>" gitstyle="text-decoration: none;"> 
							<h2 class="price-product"> $ <%= product.price %></h2>
							<h1 class="name-product"><%= product.name %></h1>
							<h3 class="category-product">Categoria: <%= product.category %></h3>
						</article>
					
				</div>
				
			<% }); %>
		
		</div>
	</div>
	<!-- /todos los productos -->


    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</body>
</html>
