<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesRegister", title:"Registro"}) %>
    <meta name="appleid-signin-client-id" content="[CLIENT_ID]">
    <meta name="appleid-signin-scope" content="[SCOPES]">
    <meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
    <meta name="appleid-signin-state" content="[STATE]">
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <!--Banner-->
        <img class = "banner" src = "/img/banner-register.jpeg" alt = "img-register-banner">
    </header>
    <main>
        <h3 class = "title">¡Bienvenid@! Completa este formulario para registrarte</h3>

        <% if (locals && locals.mensajesDeError) {%>
            <% for (let error in mensajesDeError) {%>
                <p class = "errors"> <%= mensajesDeError[error].msg %> </p>
            <% } %>
        <% } %>
            

        <form action = "/users/register" method = "POST" class = "register-form">
            <div class = "columns">
                <!--Campos del formulario-->
                <div class = "register-left">
                    <div class = "input-boxes">
                        <label for = "username">Nombre de usuari@</label>
                        <input type="text" name="username" id="username" value="<%= locals.old && locals.old.username ? locals.old.username : '' %>">
                    </div>
                    <div class = "input-boxes">
                        <label for = "email">Email</label>
                        <input type = "email" name = "email" id = "email" value="<%= locals.old && locals.old.email ? locals.old.email : '' %>">
                    </div>
                    <div class = "input-boxes">    
                        <label for = "password">Contraseña</label>
                        <input type = "password" name = "password" id = "password">
                    </div>
                    <div class = "input-boxes">
                        <label for = "confirmPassword">Confirmar contraseña</label>
                        <input type = "password" name = "confirmPassword" id = "confirmPassword">
                    </div>

                    <!--Botones formulario-->
                    <div class = "submit-button-box">
                        <button type = "submit" id = "registerButton">Registrarse</button>
                    </div>
                </div>    
        </form>

        <!--Divisor-->
        <div class = "divider">
            <div class="circle">O</div>
        </div>

        <!--Logo-->
        <div class = "register-right">
            <div class="button-container">
            <!--Boton Google-->
                <script src="https://accounts.google.com/gsi/client" async></script>
                <div id="g_id_onload"
                    data-client_id="YOUR_GOOGLE_CLIENT_ID"
                    data-login_uri="https://your.domain/your_login_endpoint"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                    data-type="icon"
                    data-logo-alignment = "center"
                    data-size="xxl"
                    data-theme="outline"
                    data-shape="circle">
                </div>
            <!--Boton Apple-->
                <div id="appleid-signin" class="signin-button-apple" data-color="black" data-border="false" data-border-radius="50" data-type="sign-in" data-mode="logo-only"></div>
                <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
            </div>
        </div>
            </div>
        <!--Login-->
        
        <div class = "register-down">
            <p>Ya tengo una cuenta</p>
            <button class = "login-button-box" id = "loginButton">
                <a href = "/users/login">Iniciar sesión</a>
            </button>
        </div> 
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>