<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head.ejs", {cssSheet:"stylesRegister", title:"Registro"}) %>
    <meta name="appleid-signin-client-id" content="[CLIENT_ID]">
    <meta name="appleid-signin-scope" content="[SCOPES]">
    <meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
    <meta name="appleid-signin-state" content="[STATE]">
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <!--Banner-->
        <img class = "banner" src = "/img/banner-register.jpeg" alt = "img-register-banner">
    </header>
    <main>
        <h3 class = "title-register">¡Bienvenid@! Completa este formulario para registrarte</h3>

        <ul class="errors alert-warning">
        </ul>

        <% if (locals && locals.mensajesDeError) {%>
            <% for (let error in mensajesDeError) {%>
                <p class = "errors"> <%= mensajesDeError[error].msg %> </p>
            <% } %>
        <% } %>
            

        <form action = "/users/register" method="POST" class="formulario" id="formulario">
            <div class = "columns-register">
                <!--Campos del formulario-->
                <div class = "register-left">
                    
                    <div class = "inputboxes-register" id="inputboxesUsuario">
                        <label for = "username" class="labelForm">Nombre de usuari@</label>
                        <div class="inputsIcon">
                            <input type="text" class="inputStyle" name="username" id="username" placeholder="Ingrese un nombre de usuario">
                            <i class="iconoForm fa-regular fa-circle-xmark"></i>
                        </div>
                        <p class="aviso1">"Debes escribir un nombre de usuario"</p>
                        <p class="aviso2">"El campo usuario debe contener entre 4 y 16 caracteres"</p>
                    </div>
                    
                    <div class = "inputboxes-register" id="inputboxesemail">
                        <label for = "email" class="labelForm">Email</label>
                        <div class="inputsIcon">
                            <input type = "email" class="inputStyle" name = "email" id = "email" value="<%= locals.old && locals.old.email ? locals.old.email : '' %>" placeholder="Ingrese un email">
                            <i class="iconoForm fa-regular fa-circle-xmark"></i>
                        </div>
                        <p class="aviso1">"Debes escribir un email"</p>
                        <p class="aviso2">"Debes escribir un formato válido"</p>

                    </div>
                    
                    <div class = "inputboxes-register" id="inputboxespassword">    
                        <label for = "password" class="labelForm">Contraseña</label>
                        <div class="inputsIcon">
                            <input type = "password" class="inputStyle" name = "password" id = "password" placeholder="Ingrese una contraseña">
                            <i class="iconoForm fa-regular fa-circle-xmark"></i>
                        </div>
                        <p class="aviso1">"Debes escribir una contraseña"</p>
                        <p class="aviso2">"La contraseña debe tener al menos una letra mayúscula, una letra minúscula, un número y un carácter especial"</p>
                    </div>
                    
                    <div class = "inputboxes-register" id="inputboxespassword2">
                        <label for = "confirmPassword" class="labelForm">Confirmar contraseña</label>
                        <div class="inputsIcon">
                            <input type = "password" class="inputStyle" name = "confirmPassword" id = "confirmPassword" placeholder="Repita la contraseña">
                            <i class="iconoForm fa-regular fa-circle-xmark"></i>
                        </div>
                        <p class="aviso1">"Las contraseñas no coinciden"</p>
                    </div>

                    <!--Botones formulario-->
                    <div class = "submit-button-box-register">
                        <button type = "submit" id = "registerButton-register">Registrarse</button>
                    </div>
                    <p class="mensajeExito" id="mensajeExito">Formulario enviado exitosamente!</p>
                </div>   
                
                
                
        </form>

        <!--Divisor-->
        <div class = "divider-register">
            <div class="circle-register">O</div>
        </div>

        <!--Logo-->
        <div class = "register-right">
            <div class="button-container-register">
            <!--Boton Google-->
                <script src="https://accounts.google.com/gsi/client" async></script>
                <div id="g_id_onload"
                    data-client_id="YOUR_GOOGLE_CLIENT_ID"
                    data-login_uri="https://your.domain/your_login_endpoint"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                    data-type="icon"
                    data-logo-alignment = "center"
                    data-size="xxl"
                    data-theme="outline"
                    data-shape="circle">
                </div>
            <!--Boton Apple-->
                <div id="appleid-signin" class="signin-button-apple" data-color="black" data-border="false" data-border-radius="50" data-type="sign-in" data-mode="logo-only"></div>
                <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
            </div>
        </div>
            </div>
        <!--Login-->
        
        <div class = "register-down">
            <p>Ya tengo una cuenta</p>
            <button class = "login-button-box-register" id = "loginButton-register">
                <a href = "/users/login">Iniciar sesión</a>
            </button>
        </div> 
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

    <script src="/js/registerValidation.js"></script>
    <script src="https://kit.fontawesome.com/1d45e21563.js" crossorigin="anonymous"></script>

</body>