<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { cssSheet: "stylesSearchResults", title: "Resultados de búsqueda " + query }) %>
</head>
<header>
    <%- include('partials/header.ejs') %>
</header>
<body>
    <h1 class = "title-searched">Resultados de búsqueda: "<%= query %>"</h1>
    <div class="container-products-searched">
		<div class="row-searched">
			<% products.forEach(product =>{ %>
				<div class= "box-searched">
					<a href="/products/detail/<%= product.id %>">
						<div class="product-box_image-searched">
							<img class = "product-searched-img" src="/img/<%= product.photo %>" alt="imagen de producto">
						</div>
					</a>	
						<article class="product-box_data-searched">
							<a href="/products/detail/<%= product.id %>" gitstyle="text-decoration: none;"></a>
							<h2 class="price-product-searched"> $ <%= product.price %></h2>
							<h2 class="name-product-searched"><%= product.name %></h2>
							<h5 class="category-product-searched">Categoria: <%= product.category %></h5>
						</article>
				</div>
			<% }); %>
		</div>
	</div>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>
